<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section th:fragment= "listadoArboles" id="arboles">
        <div class="container">
            <h2 class="my-4 text-center">Lista de Árboles</h2>

            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre Común</th>
                        <th>Tipo de Flor</th>
                        <th>Dureza de Madera</th>
                        <th>Altura Promedio</th>
                        <th>Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterate over the list of Arbol objects -->
                    <tr th:each="arbol : ${Arboles}">
                        <td th:text="${arbol.idArbol}"></td>  <!-- ID -->
                        <td th:text="${arbol.nombre_comun}"></td>  <!-- Nombre Común -->
                        <td th:text="${arbol.tipo_flor}"></td>  <!-- Tipo de Flor -->
                        <td th:text="${arbol.dureza_madera}"></td>  <!-- Dureza de Madera -->
                        <td th:text="${arbol.altura_promedio} + ' m'"></td>  <!-- Altura Promedio -->
                        <td>
                            <img th:src="@{${arbol.ruta_imagen}}" alt="Imagen del árbol" 
                                 class="img-thumbnail" style="width: 100px; height: auto;" />
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
    </body>
</html>
